.edit_pwd_form{
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    /*border: 2px solid darkblue;*/

}

.edit_pwd_form div{
    margin-top: 10px;
}
.edit_pwd_form div input{
    width: 240px;
}

.edit_pwd_form div label{
    margin-right: 10px;
    text-align: right;
    width: 80px;
}
.btn-pwd{
    width: 240px;
}