{% extends "cms/cms-base.html" %}

{% block title %}
    文章列表
{% endblock %}

{% block script_css %}
    <link rel="stylesheet" href="{% static "css/blog/article_list.css" %}">
{% endblock %}

{% block main-content %}
    <section class="content-header">
        <h1>
            后台管理
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>文章管理&ensp;>>&ensp;文章列表</a></li>
        </ol>
    </section>
    <section class="content form-section ">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary new_article" ><a href="{% url "blog:write_article" %}">新建文章</a></button>

            <table class="table table-hover  article_list">
                <tr class="success ">
                    <th class="">文章ID</th>
                    <th class="">标&emsp;题</th>
                    <th class="">分&emsp;类</th>
                    <th> 创建时间</th>
                    <th>更新时间</th>
                    <th>作&emsp;者</th>
                    <th>评论数量</th>
                    <th>操&emsp;作</th>
                </tr>
                {% for article in articles %}
                    <tr article-id="{{ article.pk }}" article-name="{{ article.title }} " class="">
                        <td><a href="">{{ article.pk }}</a></td>
                        <td class="col-xs-5 article_title"><a href="">{{ article.title }}</a></td>
                        <td>{{ article.category.category }}</td>
                        <td>{{ article.create_times }}</td>
                        <td>{{ article.last_updates }}</td>
                        <td>{{ article.author.username }}</td>
                        <td>{{ article.comments.all.count }}</td>
                        <td>
                            <button type="button" class=" btn-info edit_article"><a href="{% url "blog:edit_article" article_id=article.id %}">编辑</a></button>
                            <button type="button" class="btn-warning del_article">删除</button>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>


    </section>

{% endblock %}

{% block scirpt_js %}
    <script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="{% static "js/blog/list_article.js" %}"></script>
{% endblock %}

