{% extends "cms/cms-base.html" %}

{% block title %}
    修改密码
{% endblock %}

{% block script_css %}
    <link rel="stylesheet" href="{% static "css/cms/edit_password.css" %}">
{% endblock %}



{% block main-content %}
        <section class="content-header">
        <h1>
            后台管理
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "cms:edit_account" %}"><i class="fa fa-dashboard"></i> 个人中心</a></li>
            <li class="active">修改密码</li>
        </ol>
    </section>

    <section class="content ">
        <form action="" method="post" class="edit_pwd_form ">
            {% csrf_token %}
            <div class="form-height form-group">
                <label for="old_pwd" class="text-right">旧密码</label>
                <input type="password" class="pwd" id='old_pwd' value="" name="old_pwd">
            </div>
            <div class="form-height form-group">
                <label for="new_pwd1" class="text-right">新密码1</label>
                <input type="password" class="pwd" id='new_pwd1' value="" name="new_pwd1">
            </div>
            <div class="form-height form-group">
                <label for="new_pwd2" class="text-right">新密码2</label>
                <input type="password" class="pwd" id='new_pwd2' value="" name="new_pwd2">
            </div>
            <div class="form-height form-group">
                <label for="btn-pwd"></label>
                <input type="button" class="btn btn-primary btn-pwd" value="提交" id="btn-pwd">
            </div>
            <div class="hidden form-group">
                <label for="new_pwd2" class="text-right">用户</label>
                <input type="password" class="user_id" id='user_id' value="{{ user.id }}" name="user_id">
            </div>

        </form>
    </section>

{% endblock %}

{% block scirpt_js %}
    <script src="{% static "/js/cms/edit_password.js" %}"></script>

{% endblock %}